.idea
/includes/
/api/
/bin/
/cache/
/language/
/libraries/
/components/
/layouts/
/cli/
/downloads/
/briefcase/
/images/
/media/
/modules/
/mysql5.7.14/
/php/
/templates/
/tmp/
/.env
/.htaccess
/configuration.php
/docker-compose.yml
/htaccess.txt
/index.php
/LICENSE.txt
/README.txt
/robots.txt.dist
/web.config.txt
/plugins/actionlog/
/plugins/api-authentication/
/plugins/authentication/
/plugins/behaviour/
/plugins/captcha/
/plugins/console/
/plugins/content/
/plugins/editors/
/plugins/editors-xtd/
/plugins/extension/
/plugins/fields/
/plugins/filesystem/
/plugins/finder/
/plugins/installer/
/plugins/media-action/
/plugins/multifactorauth/
/plugins/privacy/
/plugins/quickicon/
/plugins/sampledata/
/plugins/search/
/plugins/task/
/plugins/user/
/plugins/webservices/
/plugins/workflow/
/plugins/index.html
/plugins/system/schedulerunner/
/plugins/system/logout/
/plugins/system/languagefilter/
/plugins/system/highlight/
/plugins/system/tasknotification/
/plugins/system/fields/
/plugins/system/accessibility/
/plugins/system/privacyconsent/
/plugins/system/remember/
/plugins/system/redirect/
/plugins/system/guidedtours/
/plugins/system/actionlogs/
/plugins/system/sef/
/plugins/system/cache/
/plugins/system/sessiongc/
/plugins/system/httpheaders/
/plugins/system/rsfiles/
/plugins/system/skipto/
/plugins/system/rsticketspro/
/plugins/system/log/
/plugins/system/languagecode/
/plugins/system/logrotation/
/plugins/system/lanlhits/
/plugins/system/shortcut/
/plugins/system/jooa11y/
/plugins/system/stats/
/plugins/system/debug/
/plugins/system/webauthn/
/plugins/system/yootheme/
/plugins/system/updatenotification/
/administrator/includes/
/administrator/index.php
/administrator/templates/
/administrator/modules/
/administrator/help/
/administrator/cache/
/administrator/manifests/
/administrator/logs/
/administrator/language/
/administrator/components/com_actionlogs/
/administrator/components/com_admin/
/administrator/components/com_ajax/
/administrator/components/com_akeebabackup/
/administrator/components/com_associations/
/administrator/components/com_banners/
/administrator/components/com_bkdreport/
/administrator/components/com_cache/
/administrator/components/com_categories/
/administrator/components/com_checkin/
/administrator/components/com_config/
/administrator/components/com_contact/
/administrator/components/com_content/
/administrator/components/com_contenthistory/
/administrator/components/com_cpanel/
/administrator/components/com_fields/
/administrator/components/com_finder/
/administrator/components/com_guidedtours/
/administrator/components/com_installer/
/administrator/components/com_joomlaupdate/
/administrator/components/com_languages/
/administrator/components/com_login/
/administrator/components/com_mails/
/administrator/components/com_media/
/administrator/components/com_menus/
/administrator/components/com_messages/
/administrator/components/com_modules/
/administrator/components/com_newsfeeds/
/administrator/components/com_plugins/
/administrator/components/com_postinstall/
/administrator/components/com_privacy/
/administrator/components/com_redirect/
/administrator/components/com_rseventspro/
/administrator/components/com_rsfiles/
/administrator/components/com_rsticketspro/
/administrator/components/com_scheduler/
/administrator/components/com_search/
/administrator/components/com_tags/
/administrator/components/com_templates/
/administrator/components/com_users/
/administrator/components/com_workflow/
/administrator/components/com_wrapper/
